{% extends 'base.html.twig' %}

{% block title %}Repas groupe - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/platgroupe.jpg') }}" alt="plat" class="img-fluid">
        </div>
    </div>

    <div class="container">
        <h5 class="brasero-header3 mb-5 text-center mx-auto d-block">Le Braséro dispose d’une terrasse chauffée qui peut être privatisé  en été comme en hiver jusqu’à 50 personnes. <br>
        Notre chef de cuisine vous propose des menus et cocktails dinatoires sur mesure. <br>
        Baptême, communion, repas de famille, société, n’hésitez pas à nous solliciter. <br>
        Christophe vous fera un devis sur mesure en moins de 24h <br><br>
        Infos : 06 38 80 05 32 <br><br>
        Exemple de prestation :</h5>
        <img src="{{ asset('assets/images/dessertgroupe.png') }}" class="img-thumbnail mx-auto d-block dessertgroup">
        <img src="{{ asset('assets/images/repasgroupe.jpg') }}" alt="repas de groupe" class="img-thumbnail mx-auto d-block">
    </div>
{% endblock %}
