  /* GENERAL */

  body{
    background-color: black;
    color: white;
    margin: 0;
  }

  a{
    text-decoration: none;
    color: #A30016;
  }

  a:hover{
    color: white;
    text-shadow: 1px 1px 1px #A30016;
  }

  .brasero-header {
    border-bottom: 1px solid #A30016;
    padding: 15px 0;
  }

  .logoBrasero{
    width: 130px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Balsamiq Sans', Georgia, "Times New Roman", sans-serif;
  }

  /* HOME */

  .menudujour{
    height: 500px;
    background-color: #191D24;
    border-radius: 2px;
    border: 15px solid #462520;
    box-shadow: 5px 5px 5px rgb(65, 64, 64);
  }

  .menudujour p, .menudujour h4, .menudujour h6{
    font-family: 'Indie Flower', Georgia, "Times New Roman", sans-serif;
    font-size: 20px;
  }

  .braseroActu h3{
    font-size: 28px;
    font-style: italic;
  }

  .afficheMenu{
    height: 600px;
  }
  
  /* FOOTER */
  .braseroFooter {
    padding: 15px 0;
    margin-top: 100px;
    color: #727272;
    text-align: center;
    background-color: black;
    font-size: 12px;
  }

  .braseroFooter a{
    color: grey;
  }

  .braseroHoraires{
    color: white;
  }

  /* GALERIE */

  .divider{
    width: 200px;
    height: 1px;
    background: #A30016;
    margin: 0 auto;
  }

  .brasero-header2 {
    border-bottom: 1px solid #A30016;
    padding: 15px 0;
    width: 30%;
  }

  /* REPAS GROUPE */

  .brasero-header3 {
    border-bottom: 1px solid #A30016;
    padding: 15px 0;
    width: 40%;
  }