  /* GENERAL */

  body{
    background-color: black;
    color: white;
    margin: 0;
  }

  a{
    text-decoration: none;
    color: #A30016;
  }

  a:hover{
    color: white;
    text-shadow: 1px 1px 1px #A30016;
  }

  .brasero-header {
    border-bottom: 1px solid #A30016;
    padding: 15px 0;
  }

  .logoBrasero{
    width: 130px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Balsamiq Sans', Georgia, "Times New Roman", sans-serif;
  }

  /* HOME */

  .menudujour{
    max-height: 750px;
    background-color: #191D24;
    border-radius: 2px;
    border: 15px solid #462520;
    box-shadow: 5px 5px 5px rgb(65, 64, 64);
  }

  .menudujour p, .menudujour h6{
    font-family: 'Indie Flower', Georgia, "Times New Roman", sans-serif;
    font-size: 20px;
  }

  .braseroActu h3{
    font-size: 28px;
    font-style: italic;
  }

  .afficheMenu{
    height: 600px;
  }

  .chris2{
    width: 300px;
  }

  .recoh4{
    font-family: 'Indie Flower', Georgia, "Times New Roman", sans-serif;
    font-size: 24px;
  }
  
  /* FOOTER */
  .braseroFooter {
    padding: 15px 0;
    margin-top: 80px;
    color: #727272;
    text-align: center;
    background-color: black;
    font-size: 14px;
  }

  .braseroFooter a{
    color: grey;
  }

  .braseroHoraires{
    color: white;
  }

  /* GALERIE */

  .divider{
    width: 200px;
    height: 1px;
    background: #A30016;
    margin: 0 auto;
  }

  .brasero-header2 {
    border-bottom: 1px solid #A30016;
    padding: 15px 0;
    width: 30%;
  }

  /* REPAS GROUPE */

  .brasero-header3 {
    padding: 15px 0;
    width: 40%;
  }

  .dessertgroup{
    width: 50%;
    margin-bottom: 5%;
  }

  /* CONTACT */

  .contact-form{
    width: 60%;
  }

  .contact1{
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: 1px solid #A30016;
    max-width: 300px;
  }

  .contact2{
    font-size: 20px;
    margin-top: 30px;
  }

  .contact3{
    font-size: 20px;
  }

  .contact4{
    font-size: 17px;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .mailLink{
    padding-top: 10px;
    font-size: 23px;
  }

  .where2findus p{
    width: 75%;
  }



  