{% extends 'base.html.twig' %}

{% block title %}Contact - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/terrasse2.jpg') }}" alt="plat" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <br><br><br>
        <h5 class="text-center">Pour venir au restaurant : </h5>
        <img src="{{ asset('assets/images/plan.png') }}" alt="plat" class="img-thumbnail mx-auto d-block">
        <br><br><br>
        FORMULAIRE DE CONTACT
    </div>
    

{% endblock %}
