<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Restaurant le Brasero" content="Restaurant...">
        
        <!-- Bootstrap core CSS & CSS-->
        <link href= "{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/brasero.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

        <title>{% block title %}Le Brasero{% endblock %}</title>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>