{% extends 'base.html.twig' %}

{% block title %}Menu - Le Braséro{% endblock %}

{% block content %}
    <div class="container">
        <div class="mb-4">
            <img src="{{ asset('assets/images/salle.png') }}" alt="restaurant" class="img-fluid">
        </div>
    </div>
    <div class="container">
        <h3 class="brasero-header2 mb-5 text-center mx-auto d-block">La Carte</h3>
        {% for menus in menu %}
        <img src="./uploads/{{ menus.image }}" alt="la carte" class="img-thumbnail mx-auto d-block">
        {% endfor %}
    </div>
    
{% endblock %}
